{% extends "base.html" %}

{% block title %}Table {{ table }}{% endblock %}

{% block content %}
<h1>Table {{ table }}</h1>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Router Name</th>
                <th>Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row['sno'] }}</td>
                <td>{{ row['router name'] }}</td>
                <td>{{ row['number'] }}</td>
                <td>
                    <form action="/initiate_ssh" method="post">
                        <input type="hidden" name="ip_address" value="{{ '192.168.1.1' if table == 'A' else '192.168.2.1' }}">
                        <input type="hidden" name="port_number" value="{{ row['number'] }}">
                        <input type="submit" value="Initiate SSH" class="btn btn-primary">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
