{% extends "base.html" %}

{% block title %}Table {{ table }}{% endblock %}

{% block content %}
<h1>Table {{ table }}</h1>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Router Name</th>
                <th>Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row['sno'] }}</td>
                <td>{{ row['router name'] }}</td>
                <td>{{ row['port'] }}</td>
                <td>
                    <button onclick="openPuTTY('{{ username }}', '{{ip}}', '{{ row['port'] }}')">Open PuTTY</button>
                </td>
                
            </tr>

            {% endfor %}
        </tbody>
    </table>
    <form id="logForm" method="POST" action="/log_attempt" style="display:none;">
        <input type="hidden" name="username">
        <input type="hidden" name="putty_ip">
        <input type="hidden" name="port">
        <input type="hidden" name="status">
    </form>
</div>
{% endblock %}
